<!--FOOTER SECTION -->
<div id="footer">
    <div class="container">
        <div class="row ">
            &copy; 2016 www.anjar.com | All Right Reserved

        </div>

    </div>

</div>
<!--END FOOTER SECTION -->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY LIBRARY -->
<script src="~/Scripts/jquery.js"></script>
<!-- CORE BOOTSTRAP LIBRARY -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- CUSTOM SCRIPT-->
<script src="~/Scripts/custom.js"></script>