<!DOCTYPE html>

<html lang="en">

<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#">ANJAR <span class="glyphicon glyphicon glyphicon-road" aria-hidden="true"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                    <li><a href="~/Home/about">ABOUT</a></li>
                    <li><a href="~/Home/Schedule">SCHEDULE</a></li>
                    <li><a href="~/Home/terminal">TERMINALS</a></li>
                    <li><a href="~/Home/register">REGISTER</a></li>
                    <li><a href="~/Home/login">LOGIN</a></li>
                    <li><a href="~/Home/contact">CONTACT</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--END NAV SECTION -->
    <!--ABOUT SECTION -->
    <div id="found-section">
        <div class="container">
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 style="font-family: Euphemia; color: aliceblue;background-color:black">Who We Are ? </h1>
                    <h4>
                        ANJAR is the first and the biggest foreign investment Company with an advanced and organized transport system in Pakistan. 
                        It is the only transport company to have nationwide network with various international trade links.
                        Being a transport service provider the company owns a large fleet of buses,
                        Technically Advanced Workshops to maintain the fleet for the safety of the passengers, 
                        State of the Art Terminals, Training Institutes for Drivers and Mechanical Staff.
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row main-low-margin  text-center">


                <div class="col-md-12 col-sm-12 text-justify">
                    <h3 style="font-family: Euphemia; color: aliceblue;background-color:black"> <em><strong>The ANJAR Comapny</strong></em></h3>
                    <p>
                        We at ANJAR Pakistan Bus Services Limited consider our Human Resources as our most vital asset and we continuously strive to enhance the potential of our people. 
                        Being spread across Pakistan we create job opportunities in remote areas of the country for people of various social backgrounds. 
                        As an organization we see developing our employees, creating opportunities of learning and a collaborative culture as vital part of our job at the Human Resources Division.
                        Our business allows our employees to work in a continuously challenging environment and develop their skills whereby we reward and organically grow our talent right from the grass root level. 
                    </p>
                    <p>
                        ANJAR has been rendering transport facilities for the last 20 years to the people of Pakistan and appreciated by the masses simultaneously highly praised by the Governments of Pakistan as well as Korea for its consistent success. 
                        Media of both the countries often express appreciation for the revolutionary accomplishment of the Company in transport sector, through various channels.

                    </p>
                    <p>
                        Going forward we look to strengthen our Performance Management system to ensure that we have transparency and differentiation in our reward system based on contribution of each employee. 
                        Our training department will be working extensively on working on individual training needs of our employees along with various trainings to enhance the capacity of the organization. 
                        We are focused on introducing best HR practices at DPEBSL to make it an employer choice in Pakistan and strengthen our position as the market leader in our industry. 

                    </p>
                    <p><strong>Abraham Jo</strong><br>
                    <strong>CEO AND Founder</strong></p>
                </div>
            </div>
            <!-- ./ Row Content-->
            <div class="row main-low-margin text-center">

                <div class="col-md-4 col-sm-4 text-center">
                    <img class="img-circle" src="~/img/team/team1.png">
                    <h3 style="color: aliceblue; background-color: black">Abraham Joe</h3>
                    <h4>CEO and Founder</h4>
                    <p>
                        Abraham Joe is the CEO and founder of ANJAR Travel Company.
                        He had a degree of Tourism and Management from China.
                        His vision is to provide facility to people while travelling as much as possible.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center" data-scrollreveal="enter bottom and move 100px, wait 0.4s">
                    <img class="img-circle" src="~/img/rsz_manager.jpg">
                    <h3 style="color: aliceblue; background-color: black">James Harley</h3>
                    <h4>Manager</h4>
                    <p>
                        James Harley is on Manage post in the ANJAR Travel Comapny.He took his MBA degree from Harvard University.
                        The best quality of him is to tackle with the daily problems and provide passenger a comfartable environment.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center" data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <img class="img-circle" src="~/img/rsz_subMan.jpg">
                    <h3 style="color: aliceblue; background-color: black">Wilson</h3>
                    <h4>Sub-Manager</h4>
                    <p>
                       Wilson , Sub-Manager in the ANJAR ,with the keen observation in his field.
                        He is master in tackling with challenges.He took his BBA degree from California University.
                    </p>
                </div>

            </div>
            <!-- ./ Row Content-->

        </div>
    </div>
    <!-- END ABOUT SECTION -->
    <style>
        body {
            background: #76b852; /* fallback for old browsers */
            background: -webkit-linear-gradient(right, #76b852, #8DC26F);
            background: -moz-linear-gradient(right, #76b852, #8DC26F);
            background: -o-linear-gradient(right, #76b852, #8DC26F);
            background: linear-gradient(to left, #76b852, #8DC26F);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    
</body>
</html>
